.container1 {
  margin: 0 auto;
}

.container_inicio {
  margin: 0 auto;
  max-width: 1200px; /* Ajusta el valor según tus necesidades */
  padding: 20px; /* Ajusta el valor según tus necesidades */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 3vw; /* Ajusta el valor según tus necesidades */
}
.container_inicio h3 {
  font-size: xx-large;
  font-weight: bold;
}

.imagen1 {
  border-radius: 20px;
  box-shadow: -4px 10px 13px 1px;
}

.container_text h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.container_text span {
  margin-bottom: 15px;
  font-size: 20px;
  color: #9353d3;
  font-weight: 600;
}
.container_text p {
  margin-bottom: 15px;
}

.container_button {
  display: flex;
  gap: 50px;
}

.redes {
  margin-right: 20px;
}

/* Cards De Proyectos */

.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2px;
}
.container_card {
  border-radius: 8px;
  width: 100%;
  height: 376px;
  margin: 0 auto;
  overflow: hidden;
  border-top-width: none;
  box-sizing: border-box;
}
.container_card:hover {
  box-shadow: 2px 4px 16px #9455d3;
  transform: scale3d(1.01, 1.01, 1.01);
  transition: 0.5s;
}

.container_imagen {
  height: 226px;
  width: 100%;
  overflow: hidden;
}

.image_card2 {
  height: 226px;
  object-fit: cover;
}


.descripcion_card {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Mostrar solo 2 líneas de texto */
  line-height: 1.5;
}

/* css tecnologias */

.imagen_tecnologias {
  border-radius: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.imagen_tecnologias:hover {
  box-shadow: 0px 0px 20px #9455d3;
  transform: scale(1.1);
  transition: 0.5s;
}

.container_tecnologias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 60px;
  align-items: center;
}

/* //MEDIA QUERIS */
@media screen and (max-width: 480px) {
  .container_inicio {
    flex-direction: column;
    align-items: flex-start; /* O ajusta según tus necesidades de alineación en columna */
  }
}

/* CSS FOOTERAPP */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 5px;
  /* background-color: #27272A ; */
  border-top: 0.5px solid #ffffff;
}

.footer span {
  color: #9353d3;
  font-size: medium;
  font-weight: 600;
}
